<div class="forms">
  <form>
    <div class="row">
      <div class="medium-6 column ">
        <input type="text" placeholder=""><br>
        <label for="firstName">City</label>
      </div>
    </div>
    <div class="row">
    <select>
      <option value="volvo">Option 1</option>
      <option value="saab">Option 2</option>
      <option value="mercedes">Option 3</option>
      <option value="audi">Option 4</option>
    </select>
    <label for="firstName">State</label>
    </div>
    <div class="row">
       <input type="radio" name="gender" value="Unrestricted Fund"> Unrestricted Fund<br>
       <input type="radio" name="gender" value="Unrestricted Fund"> General Scholarship<br>
       <input type="radio" name="gender" value="Unrestricted Fund"><input type="text" placeholder="Other"><br>
    </div>
  </form>
</div>
