$susy: (
  columns: 12,
  gutters: 1/6,
  math: fluid,
  output: float,
  gutter-position: outside,
  global-box-sizing: border-box,
  // debug: (image: show)
);

/// Absolute height of body text, in pixels
/// @type Number
$base-font-size: 18px;


/// Absolute height of one line of type, in pixels
/// @type Number
$base-line-height: 24px;

.generic-content {

  @include container();
  @include susy-breakpoint($screen-small-8cols, 8) {
    @include container();
  }
  @include susy-breakpoint($screen-medium-12cols, 12) {
    @include container();
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
      }
     .top-banner{
      @include span(12);
      position:relative;
     }

     .container{
       @include span(12);
       position: relative;
       margin-top: -400px;
       &::after{
         content: " ";
         display: block;
         clear: both;
       }
     }
    .col-left{
      @include span(3);
      background-color: $c-pomegranate;
      //float:left;
      h1{
        font-family: $ff--alternate;
        color:$c-white;
        font-size: 35px;
        font-weight: 100px;
        padding-left: 45px;
        padding-top: 70px;
      }
      p{
        color:$c-white;
        font-family:$ff--regular;
        font-size: 18px;
        padding-left: 45px;
        padding-right: 50px;
        line-height: 30px;
        padding-bottom: 100px;
      }

    }
    .col-left-body{
      @include span(6);
      }

    .col-right{
      @include span(7);
      p{
        font-family: $ff--regular;
        font-size: 16px;
        line-height: 25px;
        padding-left: 45px;
      }
      h2{
        font-family: $ff--regular;
        font-size: 35px;
        padding-left: 45px;
      }

    }
    .col-right-title{
      @include span(6);
    }
    .col-right-body{
      @include span(6) ;
    }
  }

}

.clear-box{
  clear: both;
}
