$susy: (
  columns: 12,
  gutters: 1/6,
  math: fluid,
  output: float,
  gutter-position: outside,
  global-box-sizing: border-box,
  // debug: (image: show)
);

/// Absolute height of body text, in pixels
/// @type Number
$base-font-size: 18px;


/// Absolute height of one line of type, in pixels
/// @type Number
$base-line-height: 24px;

.generic-content {

  @include container();
  @include susy-breakpoint($screen-small-8cols, 8) {
    @include container();
  }
  @include susy-breakpoint($screen-medium-12cols, 12) {
    @include container();
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
      }
     .top-banner{
      @include span(12);
      position:relative;
     }

     .container{
       @include span(12);
       position:absolute;
       //top:10%;
     }
    .col-left{
      @include span(4);
      background-color: $c-pomegranate;
      //float:left;

    }
    .col-left-body{
      @include span(4);

    }

    .col-right{
      @include span(6);
      //float: left;
    }
    .col-right-title{
      @include span(6);
    }
    .col-right-body{
      @include span(6) ;
    }
  }

}
