<div class="menus">
<nav>
<ul>
    {% for item in items %}
        {%if item.title=="SEARCH" %}
        <li><a href={{item.url}}><i class="fa fa-search" aria-hidden="true"></i></a></li>
        {% else %}
        <li><a href={{item.url}}>{{item.title}}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
<nav>
</div>
