.menus{
  float:right;
  list-style:none;
  background-color:$c-pomegranate;
  li{
    display: inline-block;
    text-decoration: none;
    padding-top:1px;
    padding-left:5px;
    padding-right:55px;
    &:hover{
      text-decoration:underline;
    }
  }
  a{
    color:$c-white;
    text-decoration:none;
    font-family:$ff--alternate;
    font-size:12px;
    letter-spacing:2px;
  }
}


.menu-footer{
  li{
    &:hover{
      text-decoration:underline;
    }
  }

  ul{
    list-style:none;
  }
  a{
    text-decoration:none;
    font-family: $ff--regular;
    color:$c-white;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
}

.menu-social{
  list-style:none;
    li{
      display: inline-block;
      text-decoration: none;
      margin-right:30px;
    }
    a{
      text-decoration:none;
      color:$c-white;
      font-size: 40px;
      font-weight: 400;
      line-height: 26px;
    }
 }
