@charset "UTF-8";
/**
 * Main breakpoints
 * NOTE: Breakpoints reduced 1px for media-query to avoid double breakpoint
 * https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
 */
/**
 * # Media queries - Layout screen sizes
 */
/**
 * # Media queries - Max width sizes
 */
/**
 * Base colors palette
 *
 * NOTE: Please refer to Sass Guidelines documentation for instructions on how
 * to add colors to the palette. (Preferred format: HSL)
 *
 * https://sass-guidelin.es/#color-formats
 */
/**
 * # Main colors palette
 */
/**
 * # Secondary colors palette
 */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
/*--------------------------------------------------------------
 # Font placeholders
 --------------------------------------------------------------*/
.l-content ul:not([class]) li:not([class])::before, .messages.status::after, .messages.messages--status::after, .messages.warning::after, .messages.messages--warning::after, .messages.error::after, .messages.messages--error::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

/**
 * Initiate Susy and Vertical Rhythm configurations
 */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 112.5%;
  line-height: 24px;
  line-height: 1.33333rem; }

/**
 * Main definition of Susy framework in the site, using <body> tag, ensuring mobile first approach.
 * This declaration doesn't  need to be implemented again in the site.
 */
body {
  font-size: 18px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.33333rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: " ";
    display: block;
    clear: both; }
  @media only screen and (min-width: 480px) {
    body {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      body:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 840px) {
    body {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      body:after {
        content: " ";
        display: block;
        clear: both; } }

form:not([class^="search-block-form"]) input[type="submit"] {
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  font-size: 0.88889rem;
  line-height: 24px;
  line-height: 1.33333rem;
  letter-spacing: 0.1em; }

/**
 * Comments base theming
 */
.comment-wrapper h2 {
  margin-bottom: 0px;
  margin-bottom: 0rem; }

.comment-form .form-text,
.comment-form .form-textarea {
  width: 100% !important; }

/**
 * # Layout theming
 */
/**
 * Form mixin configurations
 */
/**
 * Main form styling
 */
form:not([class^="search-block-form"]) {
  /**
   * # Text inputs
   */
  /**
   * # Form buttons
   */
  /**
   * # Form checkboxes & radios
   */
  /**
   * # Form select
   */ }
  form:not([class^="search-block-form"]) input[type="text"],
  form:not([class^="search-block-form"]) input[type="password"],
  form:not([class^="search-block-form"]) input[type="email"],
  form:not([class^="search-block-form"]) textarea,
  form:not([class^="search-block-form"]) select {
    font-size: 16px;
    font-size: 0.88889rem;
    line-height: 24px;
    line-height: 1.33333rem;
    margin-top: 12px;
    margin-top: 0.66667rem;
    margin-bottom: 12px;
    margin-bottom: 0.66667rem;
    padding-top: 6px;
    padding-top: 0.33333rem;
    padding-bottom: 6px;
    padding-bottom: 0.33333rem;
    background-color: white;
    border: solid 1px black;
    border-radius: 2px;
    outline: none; }
    form:not([class^="search-block-form"]) input[type="text"]:focus,
    form:not([class^="search-block-form"]) input[type="password"]:focus,
    form:not([class^="search-block-form"]) input[type="email"]:focus,
    form:not([class^="search-block-form"]) textarea:focus,
    form:not([class^="search-block-form"]) select:focus {
      outline: none; }
  form:not([class^="search-block-form"]) input[type="text"],
  form:not([class^="search-block-form"]) input[type="email"],
  form:not([class^="search-block-form"]) input[type="password"],
  form:not([class^="search-block-form"]) textarea {
    width: 96%; }
    @media only screen and (min-width: 480px) {
      form:not([class^="search-block-form"]) input[type="text"],
      form:not([class^="search-block-form"]) input[type="email"],
      form:not([class^="search-block-form"]) input[type="password"],
      form:not([class^="search-block-form"]) textarea {
        width: 46%; } }
  form:not([class^="search-block-form"]) .description {
    font-size: 14px;
    font-size: 0.77778rem;
    line-height: 24px;
    line-height: 1.33333rem; }
  form:not([class^="search-block-form"]) .form-type-textarea .grippie {
    width: 96%; }
    @media only screen and (min-width: 480px) {
      form:not([class^="search-block-form"]) .form-type-textarea .grippie {
        width: 46%; } }
  form:not([class^="search-block-form"]) .form-autocomplete {
    background: none; }
    form:not([class^="search-block-form"]) .form-autocomplete.throbbing {
      background: white url("../images/ajax-loader.gif") no-repeat;
      background-position: 98% center; }
  form:not([class^="search-block-form"]) input[type="submit"] {
    color: white;
    background-color: black;
    text-transform: uppercase;
    background-image: url("../images/form-arrow-submit.png");
    background-repeat: no-repeat;
    background-position: 80px center;
    border: none;
    outline: none; }
    form:not([class^="search-block-form"]) input[type="submit"]:hover {
      color: black;
      background-color: gray; }
    form:not([class^="search-block-form"]) input[type="submit"]:focus, form:not([class^="search-block-form"]) input[type="submit"]:hover {
      outline: none; }
  form:not([class^="search-block-form"]) .form-type-checkbox,
  form:not([class^="search-block-form"]) .form-type-radio {
    padding: 0 0 4px;
    position: relative; }
    form:not([class^="search-block-form"]) .form-type-checkbox label,
    form:not([class^="search-block-form"]) .form-type-radio label {
      padding-left: 36px;
      padding-top: 10px; }
    form:not([class^="search-block-form"]) .form-type-checkbox input,
    form:not([class^="search-block-form"]) .form-type-radio input {
      position: absolute;
      left: 0;
      top: 9px;
      width: 21px;
      height: 20px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none; }
      form:not([class^="search-block-form"]) .form-type-checkbox input:focus,
      form:not([class^="search-block-form"]) .form-type-radio input:focus {
        outline: none; }
      form:not([class^="search-block-form"]) .form-type-checkbox input::-ms-expand,
      form:not([class^="search-block-form"]) .form-type-radio input::-ms-expand {
        display: none; }
  form:not([class^="search-block-form"]) .form-type-checkbox input {
    display: none; }
  form:not([class^="search-block-form"]) .form-type-checkbox label {
    position: relative; }
    form:not([class^="search-block-form"]) .form-type-checkbox label::before {
      position: absolute;
      content: " ";
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: -14.5px 10px 0 0;
      top: 50%;
      left: 0;
      background: url("../images/form-sprite.png") no-repeat top left; }
  form:not([class^="search-block-form"]) .form-type-checkbox input:checked ~ label::before {
    background: url("../images/form-sprite.png") no-repeat bottom left; }
  form:not([class^="search-block-form"]) .form-type-radio {
    position: relative; }
    form:not([class^="search-block-form"]) .form-type-radio input {
      display: none; }
    form:not([class^="search-block-form"]) .form-type-radio label {
      position: relative; }
      form:not([class^="search-block-form"]) .form-type-radio label::before {
        position: absolute;
        content: " ";
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: -10.5px 10px 0 0;
        top: 50%;
        left: 0;
        background: url("../images/form-sprite.png") no-repeat top center; }
    form:not([class^="search-block-form"]) .form-type-radio input:checked ~ label:before {
      background: url("../images/form-sprite.png") no-repeat bottom center; }
  form:not([class^="search-block-form"]) .form-type-select select:not([size]),
  form:not([class^="search-block-form"]) .webform-component-select select:not([size]) {
    font-size: 16px;
    font-size: 0.88889rem;
    line-height: 24px;
    line-height: 1.33333rem;
    margin-top: 12px;
    margin-top: 0.66667rem;
    margin-bottom: 12px;
    margin-bottom: 0.66667rem;
    padding-top: 6px;
    padding-top: 0.33333rem;
    padding-bottom: 6px;
    padding-bottom: 0.33333rem;
    background-color: white;
    border: solid 1px black;
    border-radius: 2px;
    outline: none;
    background: url("../images/form-dropdown.png") no-repeat right 10px center;
    padding: 9px 15px;
    padding-right: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    form:not([class^="search-block-form"]) .form-type-select select:not([size]):focus,
    form:not([class^="search-block-form"]) .webform-component-select select:not([size]):focus {
      outline: none; }
    form:not([class^="search-block-form"]) .form-type-select select:not([size]):focus,
    form:not([class^="search-block-form"]) .webform-component-select select:not([size]):focus {
      background: url("../images/form-dropdown-focus.png") no-repeat right 10px center; }
    form:not([class^="search-block-form"]) .form-type-select select:not([size])::-ms-expand,
    form:not([class^="search-block-form"]) .webform-component-select select:not([size])::-ms-expand {
      display: none; }

button:focus {
  outline: none; }

/**
 * Global typography
 */
body * {
  transition: all 0.3s ease; }

ul, ol, p {
  margin: 0px;
  margin-bottom: 24px;
  margin-bottom: 1.33333rem;
  word-wrap: break-word; }

figure, figcaption {
  font-style: italic; }

small {
  text-transform: uppercase; }

sub, sup {
  text-transform: uppercase; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

@media only screen and (max-width: 839px) {
  img {
    width: 100%;
    height: auto; } }

/**
 * # Text elements
 */
blockquote {
  text-align: justify;
  padding: 0px 70px;
  quotes: "“" "”" "‘" "’";
  position: relative;
  margin: 0px 60px; }
  blockquote::before, blockquote::after {
    position: absolute; }
  blockquote::before {
    content: open-quote;
    top: 0;
    left: -10px;
    line-height: 1; }
  blockquote::after {
    content: close-quote;
    bottom: 0;
    right: -10px;
    line-height: 0; }

.page-anchor {
  position: relative; }
  .page-anchor span {
    position: absolute;
    top: -72px; }

/**
 * # Links
 */
.l-page a {
  text-decoration: none; }
  .l-page a.with-title {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }
  .l-page a:focus {
    outline: 0; }
  .l-page a:hover, .l-page a:active {
    outline: 0; }

/**
 * # Drupal overrides
 */
span.mailto {
  display: none; }

/**
 * Global headers
 */
h1, h2, h3,
h4, h5, h6 {
  word-wrap: break-word;
  font-weight: normal;
  margin-bottom: 24px;
  margin-bottom: 1.33333rem; }

/**
 * Headers specific styles
 */
/**
 * Unorder Lists
 */
.l-content ul:not([class]) {
  list-style: none;
  padding-left: 20px; }
  .l-content ul:not([class]) li:not([class]) {
    padding-left: 20px;
    position: relative;
    list-style-image: none;
    list-style-type: none; }
    .l-content ul:not([class]) li:not([class])::before {
      display: inline-block;
      content: "";
      margin-right: 10px; }
    .l-content ul:not([class]) li:not([class])::before {
      color: black;
      font-size: 5px;
      line-height: 1;
      position: absolute;
      left: 0px;
      top: 7px; }
    .l-content ul:not([class]) li:not([class]) > ul > li::before {
      color: black; }
    .l-content ul:not([class]) li:not([class]) > ul > li > ul > li::before {
      color: black; }

/**
 * Order Lists
 */
.l-content ol:not([class]) {
  padding-left: 20px; }
  .l-content ol:not([class]) li {
    padding-left: 20px;
    list-style-type: none;
    counter-increment: list;
    position: relative; }
    .l-content ol:not([class]) li::after {
      content: counter(list) ".";
      position: absolute;
      left: -20px;
      top: 0px;
      width: 2em;
      text-align: right;
      color: black; }

/*
 * Messages
 */
.messages {
  position: relative;
  border: none;
  padding: 24px;
  margin: 24px 0; }
  .messages::after {
    position: absolute;
    right: 15px;
    top: 15px;
    margin-top: -10px;
    line-height: 1; }
  .messages.status::after, .messages.messages--status::after {
    display: inline-block;
    content: "";
    margin-left: 10px; }
  .messages.warning::after, .messages.messages--warning::after {
    display: inline-block;
    content: "";
    margin-left: 10px; }
  .messages.error::after, .messages.messages--error::after {
    display: inline-block;
    content: "";
    margin-left: 10px; }

/*
 * Pager theming
 */
/*
 * Primary tabs
 */
.tabs--primary {
  border-bottom: none; }

/**
 * Page search form
 */
/**
 * # Search results
 */
/**
 * Tables - with responsive support
 */
table:not([class]) {
  margin-top: 12px;
  margin-top: 0.66667rem;
  margin-bottom: 24px;
  margin-bottom: 1.33333rem;
  width: 100%;
  border: none; }
  table:not([class]) caption {
    margin-bottom: 24px;
    margin-bottom: 1.33333rem;
    color: black;
    text-transform: capitalize; }
  table:not([class]) thead th {
    background-color: white;
    min-width: 140px; }
    table:not([class]) thead th a {
      color: white; }
    table:not([class]) thead th img {
      display: inline-block;
      margin-left: 5px; }
  table:not([class]) tr {
    margin-bottom: 10px;
    padding: 0; }
    table:not([class]) tr:last-child {
      border-bottom: solid 3px black; }
    table:not([class]) tr td {
      border: solid 1px black;
      background-color: white;
      border-bottom: none;
      min-width: 140px; }
  table:not([class]) td, table:not([class]) th {
    padding: 10px 15px; }
  @media only screen and (max-width: 839px) {
    table:not([class]) thead {
      display: none; }
    table:not([class]) tr, table:not([class]) tr.menu-enabled {
      display: block;
      width: 100%;
      border-bottom: solid 1px black;
      text-align: left; }
      table:not([class]) tr td, table:not([class]) tr td.menu-operations, table:not([class]) tr td.checkbox, table:not([class]) tr.menu-enabled td, table:not([class]) tr.menu-enabled td.menu-operations, table:not([class]) tr.menu-enabled td.checkbox {
        display: block;
        width: 100%;
        text-align: left; }
        table:not([class]) tr td:before, table:not([class]) tr td.menu-operations:before, table:not([class]) tr td.checkbox:before, table:not([class]) tr.menu-enabled td:before, table:not([class]) tr.menu-enabled td.menu-operations:before, table:not([class]) tr.menu-enabled td.checkbox:before {
          width: 100%;
          display: block;
          content: attr(data-label);
          text-transform: uppercase;
          color: black;
          letter-spacing: 0.05em; } }
  @media (min-width: 840px) {
    table:not([class]) tr {
      width: inherit; }
      table:not([class]) tr td {
        border: none;
        border-bottom: solid 1px black; }
        table:not([class]) tr td:last-child {
          border-bottom: solid 1px black; }
        table:not([class]) tr td:before {
          display: none; } }

/*# sourceMappingURL=racc-oattern.styles.css.map */
