$susy: (
  columns: 12,
  gutters: 1/6,
  math: fluid,
  output: float,
  gutter-position: outside,
  global-box-sizing: border-box,
  // debug: (image: show)
);

/// Absolute height of body text, in pixels
/// @type Number
$base-font-size: 18px;


/// Absolute height of one line of type, in pixels
/// @type Number
$base-line-height: 24px;

/**
 * Initiate Susy and Vertical Rhythm configurations
 */
  @include border-box-sizing;
  @include establish-new-baseline;

  .list-events{
  	@include container();
  	@include susy-breakpoint($screen-small-8cols, 8) {
    	@include container();
  	}
  	@include susy-breakpoint($screen-medium-12cols, 12) {
   	 @include container();
   	 h2{
   	 	font-family: $ff--alternate;
   	 	padding-left: 50px;
    	padding-bottom: 45px;
    	font-size: 35px;
   	 	}
   	 	padding-bottom: 30px;
   	 	.col-events{
   	 		//@include span(12);
   	 		padding-left: 85px;

   	 		a{
   	 			color:$c-black;
   	 			font-size: 17px;
    			padding-left: 20px;
   	 		}
   	 		.month-start{
   	 			font-size: 29px;
   	 			background-color: $c-pomegranate;
   	 			color:$c-white;
   	 			text-align: center;
    			letter-spacing: 0.03em;
    			line-height: 45px;
    			padding-right: 10px;
    			padding-left: 15px;
   	 		}
   	 		.day-start{
   	 			font-size: 45px;
    			color: $c-black;
    			//text-align: center;
    			letter-spacing: 0.03em;
    			line-height: 3rem;
    			padding-left:10px;
   	 		}
   	 	}

 	 }
  }