<div class="information-block">
	<div class="container-information">
		<div class="col-izquierda">
			{{content.field_tabs}}
		</div>
		<div class="col-derecha">
			{{content.field_tab_content}}
		</div>
	</div>

</div>