// -----------------------------------------------------------------------------
// Font imports
// -----------------------------------------------------------------------------
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

/*--------------------------------------------------------------
 # Font placeholders
 --------------------------------------------------------------*/
%font-awesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
